
@import "ember-cli-bootstrap-4/bootstrap";
body {
    background-color: rgb(123, 228, 228);
     color:rgb(6, 25, 65);
    font-family: sans-serif;
    
}
.table{
    color:rgb(115, 16, 145);
    border-color: black
}
h1 {
font-weight: lighter;
}

.training-basic{
    color:rgb(5, 15, 11);
    font-size: x-large;
}
.table-bordered{
    
    border-width: 2px;
    align-items: center;
}